# azure-pipelines.yml

trigger:
- main
- dev

pool:
  vmImage: 'codify-self-host-ci-cd'

steps:
  - checkout: self

  # 1) Flutter 설치
  - task: Bash@3
    displayName: "Install Flutter"
    inputs:
      targetType: "inline"
      script: |
        set -e
        git clone https://github.com/flutter/flutter.git -b stable --depth 1 $HOME/flutter
        echo "##vso[task.prependpath]$HOME/flutter/bin"
        flutter --version
        flutter config --enable-web

  # 2) 의존성 설치
  - task: Bash@3
    displayName: "Flutter pub get"
    inputs:
      targetType: "inline"
      script: |
        set -e
        flutter pub get

  # 3) 웹 빌드 (결과: build/web)
  - task: Bash@3
    displayName: "Build Flutter Web"
    inputs:
      targetType: "inline"
      script: |
        set -e
        flutter build web --release
        ls -al build/web

  # 4) Static Web Apps로 배포
  - task: Bash@3
    displayName: "Deploy to Azure Static Web Apps"
    env:
      SWA_DEPLOYMENT_TOKEN: $(SWA_DEPLOYMENT_TOKEN)
    inputs:
      targetType: "inline"
      script: |
        set -e
        npm i -g @azure/static-web-apps-cli
        swa deploy ./build/web --deployment-token "$SWA_DEPLOYMENT_TOKEN"